﻿<footer class="footer mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                PindaiLabs
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    © <script>document.write(new Date().getFullYear())</script> Irvan Ramdhany. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>